<% 
if (locals.forecast != "" && locals.forecast != undefined) {
    forecast = locals.forecast
    currentforecast = forecast.forecastcurrent
    hourlyforecast = forecast.forecasthourly
    dailyforecast = forecast.forecastdaily
} else {
    forecast = ""
    currentforecast = ""
    hourlyforecast = ""
    dailyforecast = ""
}
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" type="image/x-icon" href="img/favicon.ico">


    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/3ccfb6c902.js" crossorigin="anonymous"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /> -->

    <!-- Core theme CSS -->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Include Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- <script src="js/forecasts.js"></script> -->
    <!-- <script src="js/functions.js"></script> -->

    <title>It's Weather Outside</title>
</head>

<body>
    <div style="text-align: center; max-width: 400px; margin: 0 auto; padding: 0px;">
        <table style="margin: auto;">
            <tr>
                <td style="width: 150px;">
                    <p><i class="fa-solid fa-cloud fa-2xl"></i></p>
                    <p>It's Weather Outside</p>
                </td>
                <td style="text-align: right;">
                    <form style="display: inline-block;">
                        <input type="text" id="searchquery" name="q" required />
                        <button type="submit" id="searchbutton">Search</button><br />
                    </form>
                </td>
            </tr>
        </table>
        <% 
        if (forecast == "") {
        %>
        <div id="searchhints">
            <small>
                60601 (Least accurate)<br />
                Chicago IL (More accurate) <br />
                233 S Wacker Dr Chicago IL (Most accurate)
            </small>
        </div>
        <%
        }
        %>
        <%=//JSON.stringify(hourlyforecast)%>
        <div id="searcherror"
            style="text-align: center; color: white; background-color: red; margin: 10px auto; padding: 0px; display: none; visibility: hidden;">
        </div>
    </div>
    <br />
    <div id="waiting" style="display: none; visibility: hidden; text-align: center; max-width: 300px; margin: 10px auto; padding: 0px;">
        <i class="fa-solid fa-cloud fa-flip fa-2xl"></i>
    </div>
    
    <!-- ALERTS -->
    <div id="alerts" style="display: none; visibility: hidden;">Alerts</div>
    <% 
    if (currentforecast != "") {
    %>
    <!-- CURRENT FORECAST -->
    <div id="currentforecast">
        <div style="text-align: center; border-style: dotted; max-width: 400px; margin: 10px auto; padding: 0px;">
            <img src="<%=currentforecast.icon%>" />
            <h2><%=currentforecast.temperature%>&#176; <%=currentforecast.temperatureunit%> <%-currentforecast.temperaturetrend%></h2>
            <table style="margin:auto; width:50%;">
                <tr>
                    <% //if (currentforecast.hightemp != '') { %> 
                    <td style="width: 50%; text-align: center;">H:<%=currentforecast.hightemp%>&#176;</td>
                    <% //} %>
                    <% //if (currentforecast.lowtemp != '') { %> 
                    <td style="width: 50%; text-align: center;">L:<%=currentforecast.lowtemp%>&#176;</td>
                    <% //} %>
                </tr>
                <tr>
                    <% //if (currentforecast.hightemp != '') { %> 
                        <td style="width: 50%; text-align: center;"><%=currentforecast.highstart%><!-- - --><%=//currentforecast.highend%></td>
                    <% //} %>
                    <% //if (currentforecast.lowtemp != '') { %> 
                        <td style="width: 50%; text-align: center;"><%=currentforecast.lowstart%><!-- - --><%=//currentforecast.lowend%></td>
                    <% //} %>
                </tr>
            </table>
            <h4><%=currentforecast.shortforecast%></h4>
            <p style="text-align: center;">
                Forecast for <%=forecast.addressname%><br />
                Timezone: <%=forecast.timezone%><br />
                Elevation: <%=forecast.elevation%></span>
            </p>
        </div>
    </div>
    <% } %>

    <% 
    if (hourlyforecast != "") {
    %>
    <!-- HOURLY FORECAST -->
    <div id="hourlyforecast">
        <div class="swiper" id="swiper-hourly" style="text-align: center; border-style: dotted; max-width: 400px; margin: 10px auto; padding: 0px;">
            <div class="swiper-wrapper">
    <%
    hourlyforecast.forEach((hourly) => {
    %>          
                <div class="swiper-slide">
                    <img src="<%=hourly.icon%>" />
                    <h2><%=hourly.temperature%>&#176; <%=hourly.temperatureunit%></h2>
                    <h4><%=hourly.starttime%> <%=hourly.startdate%></h4>
                    <h4><%=hourly.shortdescription%></h4>
                    <p>
                        Dewpoint: <%=hourly.dewpoint%>&#176; <%=hourly.dewpointunit%> <br />
                        Humidity: <%=hourly.humidity%> <%=hourly.humidityunit%> <br />
                        Chance of precipitation: <%=hourly.probabilityofprecipitation%> <%=hourly.probabilityofprecipitationunit%> <br />
                        <%=hourly.winddirection%> <%=hourly.windspeed%>
                    </p>
                </div>
    <% 
    })
    %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <%
    } 
    %>

    <% 
    if (dailyforecast != "") {
    %>
    <!-- DAILY FORECAST -->
    <div id="dailyforecast">
        <div class="swiper" id="swiper-daily" style="text-align: center; border-style: dotted; max-width: 400px; margin: 10px auto; padding: 0px;">
            <div class="swiper-wrapper">
    <%
    dailyforecast.forEach((daily) => {
    %>          
                <div class="swiper-slide">
                    <img src="<%=daily.icon%>" />
                    <h2><%=daily.temperature%>&#176; <%=daily.temperatureunit%></h2>
                    <h4><%=daily.name%></h4>
                    <h4><%=daily.shortforecast%></h4>
                    <p style="text-align: left; margin: 10px;"><%=daily.detailedforecast%></p>
                    <p>
                        Dewpoint: <%=daily.dewpoint%>&#176; <%=daily.dewpointunit%> <br />
                        Humidity: <%=daily.humidity%> <%=daily.humidityunit%> <br />
                        Chance of precipitation: <%=daily.probabilityofprecipitation%> <%=daily.probabilityofprecipitationunit%> <br />
                        <%=daily.winddirection%> <%=daily.windspeed%>
                    </p>
                </div>
    <% 
    })
    %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <%
    }
    %>
    <div style="text-align: center; margin: 10px auto; padding: 0px;">
        <p>
            This site is still under development. Please check back frequently to see what is new<br />
            As of today, the temperatures are sometime displayed in C and F.
        </p>
    </div>

    <div style="text-align: center;">
        <p>
            Our other ventures...
            <a href="https://skygatesecurity.com" target="_new">Skygate Security</a> and
            <a href="https://notscrapyet.com" target="_new">Not Scrap Yet</a>
        </p>
        <p>
            &#169; It's Weather Outside 2023
        </p>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiperHourly = new Swiper('#swiper-hourly', {
            // Add your swiper configuration options here
            // For example:
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var swiper7day = new Swiper('#swiper-daily', {
            // Add your swiper configuration options here
            // For example:
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        });
    });
</script>

</html>